script
	include:coffee newshub-main.coffee
script
	include:coffee controllers/loginController.coffee
script
	include:coffee controllers/listController.coffee
script
	include:coffee controllers/postController.coffee
script
	include:coffee controllers/submitController.coffee
script
	include:coffee controllers/profileController.coffee
script
	include:coffee services/urlService.coffee
script
	include:coffee services/userService.coffee
script
	include:coffee services/postService.coffee
script
	include:coffee services/alertService.coffee
script
	include:coffee filters/brackets.coffee